.bg{
    background-color: #826c6c;
}

.row:after{
    display: table;
    clear: both;
    content: "";
}

.column{
    float: left;
    width: 50%;
}

.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button{
    color: #8c6964;
    background-color: #3c3431;
    border-color: #252321;
    border: 2px solid;
    text-decoration: none;
}

.button:hover{
    background-color:  #8e7a73;
    color: #252321;
    text-decoration: none;
    border: 2px solid;
}

.button:active{
    background-color: #a4948c;
    border-color: #252321;
    text-decoration: none;
    border: 2px solid;
    color: #8c6964;
}

.button1{
    color: #0c0404;
    background-color: #8e7a73;
    border-color: #8e7a73;
    border: 2px solid;
    text-decoration: none;
}

.button1:hover{
    background-color:  #695654;
    color: #0c0404;
    text-decoration: none;
    border: 2px solid;
}

.button1:active{
    background-color: #a89c94;
    color: #8e7a73;
    border: 2px solid;
    text-decoration: none;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.423;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}